@import './Global.css';

.ingredient_container{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
}
.ingredient_icon_container{
    margin-left: 30%;
    margin-bottom: 30%;
}
#edit_ingredient_header{
    position: relative;
    left: 15%;
    width: 30%;
}
.edit_ingredient{
    margin-top: 4vh;
}