:root{
    --light: #fffaf4;
    --dark_pink: #D25380;
    --dark_orange: #E08E6D;
    --beige: #F6C391;
}
.horizontal_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.horizontal_component
{
    flex-basis: auto;
}